.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.theme-load {
  transform-origin: bottom;
  animation: theme-load-animation 1.5s linear;
}

@keyframes theme-load-animation {
  0% {
    transform: rotate(-135deg);
  }
  40% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(135deg);
  }
}

.loader-box {
  width: 10px;
  margin: auto 0.1rem;
}
.nav-title {
  transition: all 0.5s ease;
  letter-spacing: 0ch;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .nav-title:hover {
    letter-spacing: 0.5ch;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
